body{
    background-color: rgb(49, 118, 247);
    font: normal 15pt arial;
    
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
    
}
/*section p{
    text-align: center;
}
.email{
    display: flex;
    justify-content: center;
    width: 50%;
}*/
footer{
    color: white;
    text-align: center;
    font-style: italic;
}